{% extends "yeti/sidebar.html" %}

{% block docs_js_active %} class="active"{% endblock %}

{% block body %}
<h2>JavaScript</h2>
<hr>
<p>You can upload a video and have it processed by Yeti using just JavaScript.</p>

<a href="#example" role="button" class="btn btn-primary" data-toggle="modal">Launch Demo</a>

<div id="example" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Live Example</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <fieldset>
        <div id="messages"></div>
        <div class="control-group">
          <label class="control-label" for="title">Title</label>
          <div class="controls">
            <input type="text" name="title" id="title" placeholder="Title">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="slug">Slug</label>
          <div class="controls">
            <input type="text" name="slug" id="slug" placeholder="Slug">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="file">File</label>
          <div class="controls">
            <input type="file" name="file" id="file">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" id="submit">Upload Video</button>
  </div>
</div>

<br><br>

<pre class="prettyprint linenums">
&lt;!doctype html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset=&quot;utf-8&quot;&gt;
    &lt;title&gt;Demo&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;

&lt;div id=&quot;messages&quot;&gt;&lt;/div&gt;

&lt;form&gt;
  &lt;fieldset&gt;
    &lt;label for=&quot;title&quot;&gt;Title&lt;/label&gt; &lt;input type=&quot;text&quot; name=&quot;title&quot; id=&quot;title&quot;&gt;
    &lt;label for=&quot;slug&quot;&gt;Slug&lt;/label&gt; &lt;input type=&quot;text&quot; name=&quot;slug&quot; id=&quot;slug&quot;&gt;
    &lt;label for=&quot;file&quot;&gt;File&lt;/label&gt; &lt;input type=&quot;file&quot; name=&quot;file&quot; id=&quot;file&quot;&gt;
    &lt;button type=&quot;submit&quot; id=&quot;submit&quot;&gt;Upload&lt;/button&gt;
  &lt;/fieldset&gt;
&lt;/form&gt;

&lt;script src=&quot;/static/js/jquery-1.9.1.min.js&quot;&gt;&lt;/script&gt;
&lt;script&gt;
  $(&quot;#submit&quot;).click(function (event) {
    event.preventDefault()
  
    var data = new FormData(),
        asset = {
          'title': $(&quot;#title&quot;).val(),
          'slug': $(&quot;#slug&quot;).val(),
          'property': 'cnn',
          'scenario': 'html5'
        },
        params = JSON.stringify(asset),
        file = $('#file').get(0).files[0]
  
    data.append('params', params)
    data.append('file', file)
  
    $.ajax({
        type: &quot;POST&quot;,
        url: &quot;http://yeti.turner.com/api/asset/&quot;,
        data: data,
        processData: false,
        contentType: false,
        success: function(data) {
          $(&quot;&lt;p&gt;&quot; + data.message + 
            &quot; ID: &lt;strong&gt;&quot; + data.id + &quot;&lt;/strong&gt;&lt;/p&gt;&quot;)
          .appendTo($(&quot;#messages&quot;))
        }
    })
  })
&lt;/script&gt;

&lt;/body&gt;
&lt;/html&gt;
</pre>

{% endblock %}

{% block extra_stylesheet %}
<link href="{{ STATIC_URL }}css/prettify.css" rel="stylesheet">
{% endblock %}

{% block javascript %}
<script src="{{ STATIC_URL }}js/prettify.js"></script>
<script>$(document).ready(function () {prettyPrint()})</script>
<script>
  $("#submit").click(function (event) {
    event.preventDefault()

    var data = new FormData(),
        asset = {
          'title': $("#title").val(),
          'slug': $("#slug").val(),
          'property': 'cnn',
          'scenario': 'html5'
        },
        params = JSON.stringify(asset),
        file = $('#file').get(0).files[0]

    data.append('params', params)
    data.append('file', file)

    $.ajax({
        type: "POST",
        url: "/api/asset/",
        data: data,
        processData: false,
        contentType: false,
        success: function(data) {
          $("<p>ID: <strong>" + data.id + "</strong> " + 
            data.message + "</p>")
          .appendTo($("#messages"))
        }
    })
  })
</script>
{% endblock %}