{% extends "yeti/sidebar.html" %}{% load humanize %}

{% block docs_active %} class="active"{% endblock %}

{% block body %}
<div class="page-header">
  <h2>API</h2>
</div>

<p class="lead">
  The Yeti API has been designed to be as developer friendly as possible.
  <strong>If you have any questions, contact <a href="mailto:david.sibley@turner.com">David Sibley</a>.</strong>
</p>

<h3>Environments</h3>
<dl class="dl-horizontal">
  {% for site in sites %}
  {% if site == current_site %}
  <dt><i class="icon-circle-arrow-right"></i> {{ site.name }}</dt>
  <dd><strong><a href="http://{{ site.domain }}/">{{ site.domain }}</a></strong></dd>
  {% else %}
  <dt>{{ site.name }}</dt>
  <dd><a href="http://{{ site.domain }}/">{{ site.domain }}</a></dd>
  {% endif %}
  {% endfor %}
</dl>

<h3>Resources</h3>

<h4>/api/asset/</h4>

<dl class="dl-horizontal">
  <dt>Allow</dt>
  <dd>POST</dd>

  <dt>Content-Type</dt>
  <dd>
    <ul class="unstyled">
      <li>application/json</li>
      <li>multipart/form-data</li>
    </ul>
  </dd>
</dl>

<p>The body of the request should be JSON with the following required parameters:</p>

<dl class="dl-horizontal">
  <dt>property</dt>
  <dd>The slug of just of the property to which this content should be associated.
    <br>
    Take a look at <a href="{% url 'properties' %}">http://{{ current_site.domain }}{% url 'properties' %}</a></dd>
</dl>

<p>These parameters are optional:</p>

<dl class="dl-horizontal">
  <dt>title</dt>
  <dd>The title of the asset.</dd>
  <dt>slug</dt>
  <dd>A short label, containing only letters, numbers, periods, underscores or hyphens. Used in URLs.</dd>
  <dt>is_test</dt>
  <dd>This is a boolean to let the system know this is a test&mdash;useful for filtering these requests out in reporting.</dd>
</dl>


<p>You must also inlude one of the following:</p>

<dl class="dl-horizontal">
  <dt>steps</dt>
  <dd>The steps used to generate the outputs for this asset.</dd>
  <dt>scenario</dt>
  <dd>The name of the scenario (per property) used to generate the outputs for this asset.</dd>
</dl>

<p>You must also inlude one of the following:</p>

<dl class="dl-horizontal">
  <dt>url</dt>
  <dd>URL of the source for this asset.</dd>
  <dt>san</dt>
  <dd>Location of the asset on the SAN. Starts with either <code>/news/</code> or <code>/sports/</code>.</dd>
</dl>

<p>
  <strong>Instead of specifying a URL or SAN location, you can also "attach" the media directly to the request.</strong>
  This request should have the content type <code>multipart/form-data</code> and the paramters used for encoding should either be called
  <code>params</code> or be attached with the content type <code>application/json</code>.
</p>

<ul class="nav nav-tabs">
  <li class="active"><a href="#asset-raw" data-toggle="tab">Raw</a></li>
  <li><a href="#asset-curl" data-toggle="tab">cURL</a></li>
  <li><a href="#asset-python" data-toggle="tab">Python</a></li>
  <li><a href="#asset-json" data-toggle="tab">JSON</a></li>
</ul>

<div class="tab-content">
<pre class="prettyprint linenums tab-pane active" id="asset-raw">
POST /api/asset/ HTTP/1.1
User-Agent: curl/7.24.0 (x86_64-apple-darwin12.0) libcurl/7.24.0 OpenSSL/0.9.8r zlib/1.2.5
Host: {{ current_site.domain }}
Accept: */*
Content-Type: application/json
Content-Length: 149

{"slug": "nba-full-stack", "title": "NBA Full Stack", "property": "nba", "san": "/news/yeti/source/cnn/2013/02/25/12/Archer.mp4", "scenario": "full"}
</pre>

<pre class="prettyprint linenums tab-pane" id="asset-curl">
curl -H "Content-Type: application/json" -d '
{"title": "CNN Explains: Papal Succession", "slug": "cnn-explains-papal-succession", "property": "cnn", "steps": {...}}' http://{{ current_site.domain }}/api/asset/
</pre>

<pre class="prettyprint linenums tab-pane" id="asset-python">
import json
import requests

url = 'http://{{ current_site.domain }}/api/asset/'

headers = {'content-type': 'application/json'}

payload = {
  "title": "CNN Explains: Papal Succession",
  "slug": "cnn-explains-papal-succession",
  "property": "cnn",
  "steps": {...}
}

r = requests.post(url, data=json.dumps(payload), headers=headers)
</pre>
  
<pre class="prettyprint linenums tab-pane" id="asset-json">
{
    "title": "CNN Explains: Papal Succession",
    "slug": "cnn-explains-papal-succession",
    "property": "cnn",
    "steps": {...}
}
</pre>
</div>

<h6>Uploading a File</h6>
<p>Using a <code>multipart/form-data</code>, you can upload a file along with your encoding parameters.
  By passing the parameters with the name <code>params</code>
  or just by setting the content-type to <code>application/json</code>,
  the system will know to use this as your encoding parameters.
  The next "part" of the request will be used as your content as long as its name is not <code>params</code>
  <strong>Right now, we only accept one piece of media per request.</strong>
</p>

<h6>Raw</h6>  
<pre class="prettyprint linenums">
POST /api/asset/ HTTP/1.1
User-Agent: curl/7.24.0 (x86_64-apple-darwin12.0) libcurl/7.24.0 OpenSSL/0.9.8r zlib/1.2.5
Host: {{ current_site.domain }}
Accept: application/json
Content-Length: 456806
Expect: 100-continue
Content-Type: multipart/form-data; boundary=----------------------------6b5acf6e8df7

------------------------------6b5acf6e8df7
Content-Disposition: form-data; name="params"; filename="test-nba.json"
Content-Type: application/json

{
	"slug": "nba-full-stack",
	"title": "NBA Full Stack",
	"property": "nba",
	"scenario": "full"
}

------------------------------6b5acf6e8df7
Content-Disposition: form-data; name="file"; filename="Archer.mp4"
Content-Type: video/mp4

LS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tNmI1YWNmNmU4ZGY3DQpDb250ZW50LURpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InBhcmFtcyI7IGZpbGVuYW1lPSJ0ZXN0LW5iYS5qc29uIg0KQ29udGVudC1UeXBlOiBhcHBsaWNhdGlvbi9vY3RldC1zdHJlYW0NCg0KewoJInNsdWciOiAibmJhLWZ1bGwtc3RhY2siLAoJInRpdGxlIjogIk5CQSBGdWxsIFN0YWNrIiwKCSJwcm9wZXJ0eSI6ICJuYmEiLAoJInNhbiI6ICIvbmV3cy95ZXRpL3NvdXJjZS9jbm4vMjAxMy8wMi8yNS8xMi9BcmNoZXIubXA0IiwKCSJzY2VuYXJpbyI6ICJmdWxsIiwKICAgICJpc190ZXN0IjogdHJ1ZQp9Cg0KLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tNmI1YWNmNmU4ZGY3DQpDb250ZW50LURpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9ImZpbGUiOyBmaWxlbmFtZT0iQXJjaGVyLXNtYWxsLm1wNCINCkNvbnRlbnQtVHlwZTogYXBwbGljYXRpb24vb2N0ZXQtc3RyZWFtDQoNCgAAABxmdHlwbX

------------------------------6b5acf6e8df7--
</pre>

<h5>Response</h5>

<blockquote>
<dl class="dl-horizontal">
  <dt>Content-Type</dt>
  <dd>application/json</dd>
</dl>
</blockquote>

<p>The response will include the status, a status message, an ID, as well as the slug, title, and property slug.
  <strong>The slug and title <em>could</em> be changed.</strong>
  If the slug and the title are exactly the same, the title may be changed to look like a <em>real</em> title.
  If you include invalid characters in the slug, these will be removed.
</p>

<h6>Raw</h6>
<pre class="prettyprint linenums">
  HTTP/1.0 200 OK
  Date: Fri, 05 Apr 2013 17:27:14 GMT
  Server: WSGIServer/0.1 Python/2.7.2
  Content-Type: application/json

  {"status": "created", "message": "The job has been created successfully.", "id": 58745, "slug": "nba-full-stack", "title": "NBA Full Stack", "property": "nba"}
</pre>

<h6>JSON</h6>
<pre class="prettyprint linenums">
{
    "id": 58745,
    "status": "created",
    "message": "The job has been created successfully.",
    "slug": "nba-full-stack",
    "title": "NBA Full Stack",
    "property": "nba"
}
</pre>


<h5>States</h5>

<dl class="dl-horizontal">
  <dt>created</dt>
  <dd>The request was valid and an asset was created.</dd>
  
  <dt>accepted</dt>
  <dd>The API request was accepted, there were no errors with the request, but an asset wasn't created. <em>You should normally not see this</em></dd>
  
  <dt>error</dt>
  <dd>There was a problem with your request.</dd>
</dl>

<h5>Error Messages</h5>

<dl>
  <dt>Expecting , delimiter: line 1 column 535 (char 535)</dt>
  <dd>The JSON was invalid. In this case, the problem was a missing comma at column 535 on the first line.</dd>
  
  <dt>You must specify a property.</dt>
  <dd>Your request was missing the property parameter.</dd>
  
  <dt>The specified property does not exist.</dt>
  <dd>The property you included does not exist.</dd>
  
  <dt>The specified scenario does not exist.</dt>
  <dd>The scenario you included does not exist. Remember, scenarios exist for a property and cannot be shared acorss properties.</dd>
  
  <dt>Failed to create asset.</dt>
  <dd>While attempting to create the asset, an error was encountered. This usually means something is wrong with the system.</dd>
  
  <dt>The file does not exist on the SAN.</dt>
  <dd>The specified file could not be found on the SAN.</dd>
  
  <dt>No file attached.</dt>
  <dd>You attempted to upload an "attached" file (multipart), but no file could be found.</dd>
</dl>

<hr>

<h4>/api/asset/{id}/</h4>

<hr>

<h4>/api/asset/{id}/tasks/</h4>

<hr>

<h4>/api/asset/{id}/task/{id}/</h4>

<hr>

<h4>/api/asset/{id}/task/{name}/</h4>

<hr>

<h4>/api/asset/{id}/outputs/</h4>


{% endblock %}

{% block extra_stylesheet %}
<link href="{{ STATIC_URL }}css/prettify.css" rel="stylesheet">
{% endblock %}

{% block javascript %}
<script src="{{ STATIC_URL }}js/prettify.js"></script>
<script>$(document).ready(function () {prettyPrint()})</script>
{% endblock %}