{% extends "yeti/sidebar.html" %}{% load humanize %}

{% block docs_steps_active %} class="active"{% endblock %}

{% block body %}
<h2>Steps</h2>
<hr>

<p>Each step must be given a unique name. The name itself does not matter; it is only used as a reference to other steps.</p>

<h3>Global Parameters</h3>

<p>The following parameters are used by all processes.</p>

<dl class="dl-horizontal">
  <dt>process</dt>
  <dd>the process name to use</dd>
  <dt>use</dt>
  <dd>the input to use <br>@original is special meaning to use the input</dd>
</dl>

<pre>
{
    "title": "Baby Owls Born on Webcam",
    ...
    "steps": {
        "encode": {
            "process": "/video/encode",
            "use": "@original"
        }
    }
}
</pre>

<h4>Filename</h4>
<p>Anywhere there is a filename parameter, the following variables can and will be replaced. You must use Python string conversion formatting.</p>

<dl class="dl-horizontal">
  <dt>%(id)s</dt>
  <dd>asset ID</dd>
  <dt>%(slug)s</dt>
  <dd>asset slug</dd>
  <dt>%(basename)</dt>
  <dd>asset basename</dd>
</dl>


<h3>Encode</h3>
<p>Encode a video.</p>

<dl class="dl-horizontal">
  <dt>Process</dt>
  <dd><code>/video/encode</code></dd>
</dl>

<h4>Options</h4>

<dl class="dl-horizontal">
  <dt>audio</dt>
  <dd>set of audio specific options</dd>
  <dt>duration</dt>
  <dd>stop writing after the output reaches this duration, in seconds</dd>
  <dt>filename</dt>
  <dd>the desired filename of the output file</dd>
  <dt>format</dt>
  <dd>the requested format (if not specified, determined from the filename extension)</dd>
  <dt>offset</dt>
  <dd>offset in seconds from the start of the input video</dd>
  <dt>passes</dt>
  <dd>number of passes to perform</dd>
  <dt>video</dt>
  <dd>set of video specific options</dd>
</dl>

<h5>Audio Options</h5>

<dl class="dl-horizontal">
  <dt>bitrate</dt>
  <dd>in kbps</dd>
  <dt>channels</dt>
  <dd>number of channels, 1: mono, 2: stero</dd>
  <dt>codec</dt>
  <dd>audio codec: amr, aac, mp3</dd>
  <dt>rate</dt>
  <dd>audio rate in Hz: 8000, 41000, 48000</dd>
</dl>

<h5>Video Options</h5>

<dl class="dl-horizontal">
    <dt>bitrate</dt>
    <dd>in kbps</dd>
    <dt>codec</dt>
    <dd>video codec: h263, h264, mpeg4</dd>
    <dt>crf</dt>
    <dd>constant rate factor, use instead of bitrate, e.g. 20</dd>
    <dt>deinterlace</dt>
    <dd>whether to deinterlace, true or false</dd>
    <dt>height</dt>
    <dd>height of videospecify only width to automatically scale width</dd>
    <dt>width</dt>
    <dd>width of video, specify only width to automatically scale height</dd>
</dl>

<h6>MP4 Options</h6>

<dl class="dl-horizontal">
    <dt>faststart</dt>
    <dd>do a second pass, putting the metadata at the beginning of the file</dd>
</dl>

<h6>H.264 Options</h6>

<dl class="dl-horizontal">
    <dt>preset</dt>
    <dd>ultrafast, superfast, veryfast, faster, fast, medium, slow, slower, veryslow, placebo</dd>
    <dt>profile</dt>
    <dd>baseline, main, high</dd>
    <dt>level</dt>
    <dd>3.0, 3.1, 4.0, 4.1, 5.0, 5.1</dd>
</dl>

<pre>
{
    "process": "/video/faststart",
    "use": "@original",
    "duration": 500,
    "filename": "%(basename)s-%(id).mp4"
}
</pre>

<h3>Thumbnails</h3>
<p>Extract thumbnails from a video.</p>

<dl class="dl-horizontal">
  <dt>Process</dt>
  <dd><code>/video/thumbs</code></dd>
</dl>

<h4>Options</h4>

<dl class="dl-horizontal">
  <dt>count</dt>
  <dd>number of thumbmails, evenly spaced throughout the video</dd>
  <dt>format</dt>
  <dd>png, jpg</dd>
  <dt>height</dt>
  <dd>height</dd>
  <dt>offset</dt>
  <dd>one or more values, in seconds, that are points in time to select an image</dd>
  <dt>representative</dt>
  <dd>choose the most representative frame in a set of 100</dd>
  <dt>width</dt>
  <dd>width</dd>
</dl>

<h5>Evenly Spaced</h5>
<pre>
{
    "process": "/video/thumbs",
    "use": "@original",
    "count": 5,
    "filename": "%(basename)s-%(id)-%d.jpg",
    "representative": true
}
</pre>

<h5>At Specific Points</h5>
<pre>
{
    "process": "/video/thumbs",
    "use": "@original",
    "offset": "5,15,30,60",
    "filename": "%(basename)s-%(id)-%d.jpg",
    "width": 320
}
</pre>

<h3>Fast Start</h3>
<p>Optimize the file for HTTP/FTP streaming or to reduce disk access. All meta data are placed at the beginning of the file, allowing a player to start playback while downloading the rest of the content.</p>

<dl class="dl-horizontal">
  <dt>Process</dt>
  <dd><code>/video/faststart</code></dd>
</dl>

<h4>Options</h4>

<dl class="dl-horizontal">
  <dt>duration</dt>
  <dd>in miliseconds, default is 500 ms (0.5 s)</dd>
  <dt>filename</dt>
  <dd>the desired filename of the output file</dd>
</dl>

<pre>
{
    "process": "/video/faststart",
    "use": "@original",
    "duration": 500,
    "filename": "%(basename)s-%(id).mp4"
}
</pre>

<h3>Hinting</h3>
<p>File hinting consists in creating special tracks in the file that contain transport protocol specific information and optionally multiplexing information. These tracks are then used by the server to create the actual packets being sent over the network, in other words they provide the server 'hints' regarding packet building.</p>

<dl class="dl-horizontal">
  <dt>Process</dt>
  <dd><code>/video/hint</code></dd>
</dl>

<h4>Options</h4>

<dl class="dl-horizontal">
  <dt>filename</dt>
  <dd>the desired filename of the output file</dd>
</dl>

<pre>
{
    "process": "/video/hint",
    "use": "@original",
    "filename": "%(basename)s-%(id).3gp"
}
</pre>

<h3>FTP</h3>
<p>Put an output on an FTP server.</p>

<dl class="dl-horizontal">
  <dt>Process</dt>
  <dd><code>/store/ftp</code></dd>
</dl>

<h4>Options</h4>

<dl class="dl-horizontal">
  <dt>hostname</dt>
  <dd>host name or IP address of the target FTP server</dd>
  <dt>port</dt>
  <dd>port of the FTP server</dd>
  <dt>username</dt>
  <dd>username required by the FTP server</dd>
  <dt>password</dt>
  <dd>password required by the FTP server</dd>
  <dt>path</dt>
  <dd>upload path on the FTP server</dd>
</dl>

<pre>
{
    "process": "/store/ftp",
    "use": ["faststart", "thumbnails"],
    "hostname": "movit",
    "username": "nbautil",
    "password": p@$$w0rd",
    "path": "nba/teams/hawks/%Y/%m/%d"
}
</pre>

{% endblock %}