{% extends "yeti/sidebar.html" %}{% load humanize yeti %}

{% block extra_stylesheet %}<link href="{{ STATIC_URL }}css/video-js.min.css" rel="stylesheet">{% endblock %}

{% block encoding_jobs_active %} class="active"{% endblock %}

{% block body %}

<div class="page-header">
    <h1>{{ asset.title }}</h1>
</div>

<table class="table table-bordered table-striped">
    <thead>
    <tr>
    <th>Name</th>
    <th>Process</th>
    <th>Parameters</th>
    <th>Host</th>
    <th>Status</th>
    <th>Speed</th>
    <th>Progress</th>
    {# <th>Control</th> #}
    </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
    {% include "yeti/fragments/task.html" %}
    {% endfor %}
    </tbody>
</table>

<div class="row">
  <div class="span5 tooltips">
    <dl class="dl-horizontal">
      {% if asset.url %}
      <dt>URL</dt>
      <dd>{% if asset.url|length > 36 %}<a data-toggle="popover" title="URL" data-content='<a href="{{ asset.url }}">{{ asset.url }}</a>'>{{ asset.url|truncatechars:36 }}</a>{% else %}<a href="{{ asset.url }}">{{ asset.url }}</a>{% endif %}</dd>
      {% elif asset.field_name %}
      <dt>Field Name</dt>
      <dd>{{ asset.field_name }}</dd>
      {% endif %}
      <dt>File Name</dt>
      <dd>{% if asset.filename|length > 36 %}<a data-toggle="popover" title="Filename" data-content="{{ asset.filename }}">{{ asset.filename|truncatechars:36 }}</a>{% else %}{{ asset.filename }}{% endif %}</dd>
      <dt>Content Type</dt>
      <dd>{{ asset.content_type }}</dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Width</dt>
      <dd>{{ asset.width }} px</dd>
      <dt>Height</dt>
      <dd>{{ asset.height }} px</dd>
      <dt>Duration</dt>
      <dd>{{ asset.duration|durationformat }}</dd>
      <dt>Size</dt>
      <dd>{{ asset.size|filesizeformat }}</dd>
      <dt>Bit Rate</dt>
      <dd>{{ asset.bit_rate|bitrateformat }}</dd>
      <dt>Container Format</dt>
      <dd>{{ asset.container_format }}</dd>
    </dl>
  </div>
  <div class="span5">
    <dl class="dl-horizontal">
      <dt>Video Codec</dt>
      <dd>{{ asset.video_codec }}</dd>
      <dt>Video Bit Rate</dt>
      <dd>{{ asset.video_bit_rate|bitrateformat }}</dd>
      <dt>Video Frame Rate</dt>
      <dd>{{ asset.video_frame_rate|framerateformat }}</dd>
      <dt>SAR</dt>
      <dd>{{ asset.sar }}</dd>
      <dt>DAR</dt>
      <dd>{{ asset.dar }}</dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Audio Codec</dt>
      <dd>{{ asset.audio_codec }}</dd>
      <dt>Audio Bit Rate</dt>
      <dd>{{ asset.audio_bit_rate|bitrateformat }}</dd>
      <dt>Audio Channels</dt>
      <dd>{{ asset.audio_channels }}</dd>
      <dt>Audio Sample Rate</dt>
      <dd>{{ asset.audio_sample_rate|intcomma }} kHz</dd>
    </dl>
  </div>
</div>


<ul class="thumbnails">
  {% for task in tasks %}{% if task.status == "completed" %}{% for output in task.output_set.all %}<li class="span2">
    <div class="thumbnail">
      <video id="output-{{ output.pk }}" src="{{ output.local_url }}" width="180" height="90" class="video-js vjs-default-skin" controls data-setup="{}">
    </div>
  </li>{% endfor %}{% endif %}{% endfor %}
</ul>

{% endblock %}

{% block javascript %}
<script src="{{ STATIC_URL }}js/video-3.2.0.js"></script>
<script src="{{ STATIC_URL }}js/sockjs-0.3.4.min.js"></script>
<script src="{{ STATIC_URL }}js/stomp.min.js"></script>
<script>
    _V_.options.flash.swf = "{{ STATIC_URL }}/swf/video-js.swf"
    
    // Stomp.js boilerplate
    var ws = new SockJS('{{ STOMP_SERVER }}');
    var client = Stomp.over(ws);

    client.heartbeat.outgoing = 0;
    client.heartbeat.incoming = 0;

    var on_receive = function(d) {
        var p = JSON.parse(d.body);
    
        console.log(p);

        var $task = $("#task-" + p.task);
        var progress = p.progress + '%';
        var speed = p.speed + 'x';

        if (p.progress) {
            $task.find('.bar').css('width', progress).text(progress);
        }

        if (p.hostname) {
            $task.find('.hostname').text(p.hostname);
        }

        if (p.status) {
            $task.find('.status').text(p.status);
            $task.find('.progress').attr('class', p.class);
        }
        
        if (p.speed) {
            $task.find('.speed').text(speed)
        }
        
        if (p.outputs) {
            for (var i in p.outputs) {
                $("ul.thumbnails").append($('<li class="span2"><div class="thumbnail"><video src="'+ p.outputs[i] +'" width="180" height="90" class="video-js vjs-default-skin" controls data-setup="{}"></div></li>'));
            }
        }
    }

    var on_connect = function(x) {
        id = client.subscribe("/topic/asset.{{ asset.id }}", on_receive);
    };
    
    var on_error = function() {
        console.log('error');
    };
    
    client.connect('guest', 'guest', on_connect, on_error, '/');

$(function () {
    $(".json-popover").popover({placement: 'bottom'});
	//$(".popover").popover();
});
</script>
{% endblock %}