{% extends "yeti/sidebar.html" %}

{% block encode_asset_active %} class="active"{% endblock %}

{% block body %}

<div class="page-header">
  <h1>Encode an Asset</h1>
</div>



<form class="form-horizontal" id="myForm">
  

  <div class="tabbable tabs-left">
    
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
      <li><a href="#input" data-toggle="tab">Input</a></li>
      <li><a href="#transcoding" data-toggle="tab">Transcoding</a></li>
      <li><a href="#publishing" data-toggle="tab">Publishing</a></li>
    </ul>
    
    <div class="tab-content">
    
    
      <div class="tab-pane active" id="details">
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="input01">Title</label>
            <div class="controls">
              <input type="text" class="input-large" id="id_title" data-key="title">
            </div>
          </div>
    
          <div class="control-group">
            <label class="control-label" for="input01">Slug</label>
            <div class="controls">
              <input type="text" class="input-large" id="id_slug" data-key="slug">
            </div>
          </div>
    
          <div class="control-group">
            <label class="control-label" for="select01">Property</label>
            <div class="controls">
              <select id="id_property" data-key="property">
                <option value="">Choose a value…</option>
                {% for property in properties %}
                <option value="{{ property.slug }}">{{ property.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="tab-pane" id="input">
        <fieldset>
          <div class="alert alert-info">
            <button class="close" data-dismiss="alert">×</button>
            <strong>Warning!</strong> You can only choose one of the following.
          </div>
      
      
          <div class="control-group">
            <label class="control-label" for="input01">File</label>
            <div class="controls">
              <input type="file" class="input-file" id="id_file">
            </div>
          </div>
      
          <div class="control-group">
            <label class="control-label" for="input01">Input URL</label>
            <div class="controls">
              <input type="url" class="input-xlarge" id="id_input_url">
              <p class="help-block">http://, ftp:// or sftp://</p>
            </div>
          </div>
      
        </fieldset>
      </div>
   
     <div class="tab-pane" id="transcoding">
        <div class="btn-group">
          <button class="btn" id="add-video"><i class="icon-facetime-video"></i> Add video</a></button>
          <button class="btn" id="add-image"><i class="icon-picture"></i> Add image</a></button>
        </div>
        <br>
        <fieldset>
          <legend>Container</legend>
          <div class="control-group">
            <label class="control-label" for="input01">Format</label>
            <div class="controls">
              <select id="">
                <option value="mov">QuickTime / MPEG-4</option>
                <option value="m4v">Raw MPEG-4 (.m4v)</option>
                <option value="mpegts">MPEG-2 Transport Stream</option>
                <option value="flv">FLV Format</option>
                <option value="webm">WebM</option>
                <option value="matroska">Matroska</option>
              </select>
            </div>
          </div>
        </fieldset>
        
        <fieldset>
          <legend>Video</legend>
          <div class="control-group">
            <label class="control-label" for="input01">Codec</label>
            <div class="controls">
              <select id="" class="input-small">
                <option value="libx264">H.264</option>
                <option value="libvpx">VP8</option>
                <option value="mpeg2video">MPEG-2</option>
              </select>
            </div>
          </div>
          
          <div class="control-group">
            <label class="control-label" for="input01">Width</label>
            <div class="controls">
              <div class="input-append">
                <input id="appendedInput" size="16" type="text" class="input-mini" ><span class="add-on">px</span>
              </div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="input01">Height</label>
            <div class="controls">
              <div class="input-append">
                <input id="appendedInput" size="16" type="text" class="input-mini" ><span class="add-on">px</span>
              </div>
            </div>
          </div>
          
          <div class="control-group">
            <label class="control-label" for="input01">Bitrate</label>
            <div class="controls">
              <div class="input-append">
                <input id="appendedInput" size="16" type="text" class="input-mini" ><span class="add-on">kbps</span>
              </div>
            </div>
          </div>
        </fieldset>
        
        <fieldset>
          <legend>Audio</legend>
          <div class="control-group">
            <label class="control-label" for="input01">Codec</label>
            <div class="controls">
              <select id="" class="input-small">
                <option value="libfaac">AAC</option>
                <option value="libmp3lame">MP3</option>
                <option value="libvorbis">Vorbis</option>
                <option value="ac3">AC-3</option>
                <option value="pcm_s16le">PCM 16-bit</option>
              </select>
            </div>
          </div>
          
          <div class="control-group">
            <label class="control-label" for="input01">Bitrate</label>
            <div class="controls">
              <div class="input-append">
                <input id="appendedInput" size="16" type="text" class="input-mini" ><span class="add-on">kbps</span>
              </div>
            </div>
          </div>
        </fieldset>
        
        </fieldset>
      </div>
  
      <div class="tab-pane" id="publishing">
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="input01">Publish URL</label>
            <div class="controls">
              <input type="url" class="input-xlarge" id="input01">
              <p class="help-block">http://, ftp:// or sftp://</p>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="optionsCheckbox">Verify</label>
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox" id="optionsCheckbox" value="option1">
                Check that the media made it to it's destination, pulling it through HTTP.
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="input01">Verify URL</label>
            <div class="controls">
              <input type="url" class="input-xlarge" id="input01">
            </div>
          </div>
      
      
  
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Save changes</button>
          <button class="btn">Cancel</button>
        </div>
        </fieldset>
      </div>
      
      
      
    </div>
  </div>
</form>


<pre id="jsonOutput">{}</pre>
{% endblock %}

{% block javascript %}
<script src="{{ STATIC_URL }}js/json2.js"></script>
<script>


$(function () {
  var json = {},
      jsonOutput = $("#jsonOutput");
  
  function updateJSON() {
    jsonOutput.text(JSON.stringify(json));
  }
  
  function changeValue(elem) {
    if (elem.val()) {
      json[elem.data('key')] = elem.val();
    } else {
      delete json[elem.data('key')];
    }
    
    updateJSON();
  }
  
  var slug_words = Array('at', 'but', 'by', 'down', 'from', 'in', 'into', 'like', 'near', 'of', 'off', 'on', 'onto', 'over', 'past', 'till', 'to', 'up', 'upon', 'with', 'and', 'or', 'nor', 'for', 'so', 'yet', 'for');
  
  function slugify(value) {
    var slug = value.replace('\'', '').replace(/[^a-zA-Z0-9]+/g,'-').toLowerCase();
    var words = slug.split('-'), new_set = Array();
    
    
    for (var i=0; i < words.length; i++) 
    {
      var word = words[i];
      if (slug_words.indexOf(word) == -1) {
        new_set.push(word);
      }
    }
    
    return new_set.join('-');
  }
  
  $("#id_title").keyup(function () {
    var $this = $(this);
    var $slug = $("#id_slug");
    var slug = slugify($this.val());
    
    $slug.val(slug);
    
    changeValue($this);
    changeValue($slug);
  });
  
  $("#id_slug").keyup(function () {
    var $this = $(this);
    var slug = slugify($this.val());
    
    $this.val(slug);
    
    changeValue($this);
  });
  
  $("#id_slug").blur(function () {
    var $this = $(this);
    
    $this.val($this.val().replace(/\-+$/, ''));
  });
  
  $("#id_property").change(function () {
    console.log($(this).val());
    changeValue($(this));
  });
  
  
  // $("#id_title").keyup(function () {
  //   
  //   var $this = $(this);
  //   
  //   console.log($this.val());
  //   console.log($this.data('key'));
  //   
  //   // json[$this.data('key')] = $this.val();
  //   
  //   json.title = $(this).val();
  //   updateJSON();
  // });
  // 
  // $("#id_slug").keyup(function () {
  //   json.slug = $(this).val();
  //   updateJSON();
  // });
    
    
    $('#id_title').popover({title: 'Title', content:'Specify your title (in title case, of course). <br><br>e.g. Greeks Divided on Euro Austerity Demands'});
    $('#id_slug').popover({title: 'Slug', content:'A <a href="http://en.wikipedia.org/wiki/Slug_(web_publishing)">slug</a> is usually the title converted to a URL safe version by making it all lowercase, replacing spaces and other punctuation with a hypen, and removing unnecssary prepositions. <br><br>e.g. greeks-divided-euro-austerity-demands'});
    
    var $id_file = $("#id_file"), 
        $id_input_url = $("#id_input_url");
    
    $id_file.bind('change keyup', function () {
      
      
      if ($id_input_url.val() && $id_file.val()) {
        $id_file.closest('.control-group').addClass('error');
        $(".alert").removeClass('alert-info').addClass('alert-error');
      } else {
        $id_input_url.closest('.control-group').removeClass('error');
        $(".alert").removeClass('alert-error').addClass('alert-info');
      }
    });
    
    $id_input_url.bind('change keyup', function () {
      if ($id_file.val() && $id_input_url.val()) {
        $id_input_url.closest('.control-group').addClass('error');
        $(".alert").removeClass('alert-info').addClass('alert-error');
      } else {
        $id_input_url.closest('.control-group').removeClass('error');
        $(".alert").removeClass('alert-error').addClass('alert-info');
      }
    });
    
    $("#add-video").click(function (event) {
      event.preventDefault();
      
    });
    
    $("#add-image").click(function (event) {
      event.preventDefault();
      
    })
    
});
</script>
{% endblock %}