{% extends "yeti/sidebar.html" %}{% load humanize %}

{% block encoding_jobs_active %} class="active"{% endblock %}

{% block body %}

<div class="page-header">
  <h1>Encoding Jobs</h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Slug</th>
      <th>Property</th>
      <th>Submitted</th>
      <th>Status</th>
      <th>Progress</th>
    </tr>
  </thead>
  <tbody id="asset-list">
    {% for asset in assets %}
    <tr id="asset-{{ asset.pk }}" data-id="{{ asset.pk }}" data-status="{{ asset.status }}" class="asset">
      <td><a href="{{ asset.get_absolute_url }}"><strong>{{ asset.id }}</strong></a></td>
      <td><a href="{{ asset.get_absolute_url }}">{{ asset.slug }}</a>{% if asset.is_test %} <span class="label">test</span>{% endif %}</td>
      <td>{{ asset.property }}</td>
      <td class="submitted">{{ asset.created|date:"N d, Y H:i A" }}</td>
      <td class="status">{{ asset.status|title }}</td>
      <td>
          <div class="{{ asset.progress_class }}">
              <div class="bar" style="width:{{ asset.get_progress }}%;">{{ asset.get_progress }}%</div>
          </div>
      </td>
    </tr>
    {% endfor %}
    <!-- <tr>
      <td><a href="#"><strong>100</strong></a></td>
      <td><a href="#">investing-bernanke-blame.cnnmoney</a></td>
      <td>CNN</td>
      <td>a minute ago</td>
      <td>Transcoding</td>
      <td>
          <div class="progress progress-striped active">
              <div class="bar" style="width:0%;">0%</div>
          </div>
      </td>
    </tr>
    <tr>
      <td><a href="#"><strong>98</strong></a></td>
      <td><a href="#">fuenmayor-ny-latino-tech.cnn</a></td>
      <td>CNN</td>
      <td>3 minutes ago</td>
      <td>Transcoding</td>
      <td>
          <div class="progress progress-striped active">
              <div class="bar" style="width:45%;">45%</div>
          </div>
      </td>
    </tr>
    <tr>
      <td><a href="#"><strong>97</strong></a></td>
      <td><a href="#">black-euro-2012-racism.cnn</a></td>
      <td>CNN</td>
      <td>10 minutes ago</td>
      <td>Completed</td>
      <td>
          <div class="progress progress-success">
              <div class="bar" style="width:100%;">100%</div>
          </div>
      </td>
    </tr>
    <tr>
      <td><a href="#"><strong>96</strong></a></td>
      <td><a href="#">exp-amanpour-syria-torture-un.cnn</a></td>
      <td>CNN</td>
      <td>16 minutes ago</td>
      <td>Completed</td>
      <td>
          <div class="progress progress-success">
              <div class="bar" style="width:100%;">100%</div>
          </div>
      </td>
    </tr>
    <tr>
      <td><a href="#"><strong>95</strong></a></td>
      <td><a href="#">mxp.robber.spank.hln</a></td>
      <td>CNN</td>
      <td>25 minutes ago</td>
      <td>Completed</td>
      <td>
          <div class="progress progress-success">
              <div class="bar" style="width:100%;">100%</div>
          </div>
      </td>
    </tr>
    <tr>
      <td><a href="#"><strong>94</strong></a></td>
      <td><a href="#">sp-florida-voter-purge.cnn</a></td>
      <td>CNN</td>
      <td>34 minutes ago</td>
      <td>Completed</td>
      <td>
          <div class="progress progress-success">
              <div class="bar" style="width:100%;">100%</div>
          </div>
      </td>
    </tr> -->
  </tbody>
</table>
{% if pages and pages|last > 1 %}
<div class="pagination pagination-centered">
  <ul>
    {% if current == 1 %}
    <li class="disabled"><a href="#">&laquo;</a></li>
    {% else %}
    <li><a href="?page={{ current|add:"-1" }}&size={{ size }}">&laquo;</a></li>
    {% endif %}
    {% for num in pages %}
    <li{% if num == current %} class="active"{% endif %}><a href="?page={{ num }}&size={{ size }}">{{ num }}</a></li>
    {% endfor %}
    {% if current == pages|last %}
    <li class="disabled"><a href="#">&raquo;</a></li>
    {% else %}
    <li><a href="?page={{ current|add:"1" }}&size={{ size }}">&raquo;</a></li>
    {% endif %}
  </ul>
</div>
{% endif %}
{% endblock %}


{% block javascript %}
<script src="{{ STATIC_URL }}js/sockjs-0.3.4.min.js"></script>
<script src="{{ STATIC_URL }}js/stomp.min.js"></script>
<script>
    var ws = new SockJS('{{ STOMP_SERVER }}');
    var client = Stomp.over(ws);

    client.heartbeat.outgoing = 0;
    client.heartbeat.incoming = 0;

    var on_receive = function(d) {
        var p = JSON.parse(d.body);
        
        console.log(p);
        
        if (p.url) {
            
            var html = '<tr id="asset-' + p.asset + '" data-id="' + p.asset + '" data-status="' + p.status.toLowerCase() + '" class="asset"> \
            <td><a href="' + p.url + '"><strong>' + p.asset + '</strong></a></td> \
            <td><a href="' + p.url + '">' + p.slug + '</a>'
            
            if (p.is_test) {
                html = html + ' <span class="label">test</span>'
            }
            
            html = html + '</td><td>' + p.property + '</td> \
            <td class="submitted">' + p.submitted + '</td> \
            <td class="status">' + p.status + '</td> \
            <td><div class="progress"><div class="bar" style="width:0%">0%</div></div></td> \
            </tr>'
            
            var row = $(html).prependTo('#asset-list')
            
            if ($('#asset-list tr').length > {{ size }}) {
                $('#asset-list tr:last').remove();
            }
        } else {
            var $asset = $('#asset-' + p.asset);
            var progress = p.progress + '%';
            
            $asset.find('.status').text(p.status);
            $asset.find('.progress').attr('class', p.class).find('.bar').css('width', progress).text(progress);
        }
    }

    var on_connect = function(x) {
      id = client.subscribe("/topic/assets", on_receive);
    };

    var on_error =  function() {
        console.log('error');
    };

    client.connect('guest', 'guest', on_connect, on_error, '/');
</script>
{% endblock %}