{% extends "yeti/sidebar.html" %}{% load humanize %}

{% block properties_active %} class="active"{% endblock %}

{% block body %}

<div class="page-header">
  <h1>Properties</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Slug</th>
    </tr>
  </thead>
  <tbody>
    {% for property in properties %}
    <tr>
      <td>{{ property.id }}</td>
      <td>{{ property.name }}</td>
      <td>{{ property.slug }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}