{% extends "yeti/base.html" %}

{% block container_type %}container{% endblock %}

{% block container %}
<div class="container">
  <div class="row">
    <div class="span2">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Activities</li>
          <li{% block encoding_jobs_active %}{% endblock %}><a href="/">Jobs</a></li>
          {# <li{% block encode_asset_active %}{% endblock %}><a href="/encoding/">Encode</a></li> #}
          <li class="nav-header">Administration</li>
          <li{% block properties_active %}{% endblock %}><a href="{% url "properties" %}">Properties</a></li>
          <li{% block users_active %}{% endblock %}><a href="{% url "users" %}">Users</a></li>
          <li class="nav-header">Documentation</li>
          <li{% block docs_active %}{% endblock %}><a href="{% url "docs" %}">API</a></li>
          <li{% block docs_steps_active %}{% endblock %}><a href="{% url "docs_steps" %}">Steps</a></li>
          <li{% block docs_js_active %}{% endblock %}><a href="{% url "docs_js" %}">JavaScript</a></li>
        </ul>
      </div>
    </div>
    <div class="span10">{% block body %}{% endblock %}</div>
  </div>
</div>
{% endblock %}