{% extends "yeti/sidebar.html" %}

{% block body %}

<div class="page-header">
  <h1>Thumbnails <small>Grids of images, videos, text, and more</small></h1>
</div>


<ul class="thumbnails">
  <li class="span3">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/260x180" alt="">
    </a>
  </li>
  <li class="span3">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/260x180" alt="">
    </a>
  </li>
  <li class="span3">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/260x180" alt="">
    </a>
  </li>
  <li class="span3">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/260x180" alt="">
    </a>
  </li>
  <li class="span3">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/260x180" alt="">
    </a>
  </li>
  <li class="span3">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/260x180" alt="">
    </a>
  </li>
  <li class="span3">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/260x180" alt="">
    </a>
  </li>
</ul>

{% endblock %}

{% block javascript %}
<script>

function updateProgress () {
    $(".bar").each(function(index, elem) {
        var $elem = $(elem);
        var progress = parseInt($(elem).text()) + 1;
        
        if (progress <= 100) {
            $elem.css('width', progress + '%').html(progress + '%');
        } else {
            $elem.parent('div').removeClass('active').removeClass('progress-striped').addClass('progress-success');
        }
    });
}

$(function () {
    updateProgress();
    setInterval(updateProgress, 500);
});
</script>
{% endblock %}