{% extends "yeti/sidebar.html" %}{% load humanize %}

{% block users_active %} class="active"{% endblock %}

{% block body %}

<div class="page-header">
  <h1>Properties</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Full Name</th>
      <th>E-Mail Address</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.get_full_name }}</td>
      <td>{{ user.email }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}