{% extends "admin/change_form.html" %}

{% block field_sets %}
{{ block.super }}
{% if original.preview or original.file %}
<fieldset class="module aligned">
	<h2>Preview</h2>
	{% if original.preview %}
	<div class="form-row">
		<div>
			<label>Image:</label>
			<img src="{{ original.preview.url }}">
		</div>
	</div>
	{% endif %}
	{% if original.type == 1 %}
	<div class="form-row">
		<div>
			<label>Source:</label>
			<!-- <video src="{{ original.file.url }}" controls> -->
		</div>
	</div>
	{% endif %}
</fieldset>
{% endif %}
{% endblock %}