<tr id="task-{{ task.id }}">
  <td>{{ task.name }}</td>
  <td>{{ task.process }}</td>
  {% with task.sanitized_params as parameters %}<td><a data-toggle="popover" title="{{ task.name }}" data-content='<pre class="pre-scrollable">{{ parameters }}</pre>'>{{ parameters|truncatechars:50 }}</a></td>{% endwith %}
  <td class="hostname">{{ task.hostname }}</td>
  <td class="status">{{ task.status|title }}</td>
  <td class="speed">{% if task.speed %}{{ task.speed }}x{% else %}&nbsp;{% endif %}</td>
  <td>
      <div class="progress progress-{{ task.get_display_class }}">
          <div class="bar" style="width:{{ task.get_progress }}%;">{{ task.get_progress }}%</div>
      </div>
  </td>
  {# <td><a href="#" class="stop-job" data-id="{{ task.amqp_id }}"><i class="icon-stop"></i></a></td> #}
</tr>
{# {% if task.process == "/video/thumbs" %} #}
{# <tr id="outputs-{{ task.id }}" class="thumbs"> #}
{#   <td colspan="6"> #}
{#     <ul class="thumbnails"> #}
{#       {% for output in task.output_set.all %} #}
{#       <li class="span3"> #}
{#         <a href="{{ output.file.url }}" class="thumbnail"> #}
{#           <img src="{{ output.file.url }}" alt=""> #}
{#         </a> #}
{#       </li> #}
{#       {% endfor %} #}
{#     </ul> #}
{#   </td> #}
{# </tr> #}
{# {% elif task.process == "/video/encode" %} #}
{# <tr id="outputs-{{ task.id }}" class="video"> #}
{#   <td colspan="6"> #}
{#     {% for output in task.output_set.all %} #}
{#      <video id="output-{{ output.pk }}" src="{{ output.file.url }}" class="video-js vjs-default-skin" controls data-setup="{}"> #}
{#     {% endfor %} #}
{#  {% for m3u8 in task.m3u8_set.all %} #}
{#      <video id="output-{{ output.pk }}" src="/media/{{ m3u8.folder }}/{{ m3u8.playlist }}" controls> #}
{#     {% endfor %} #}
{#   </td> #}
{# </tr> #}
{# {% endif %} #}